<h2>Trip package Reservation</h2>

<form [formGroup]="resForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label for="packageName" class="form-label">Vacation Packages</label>
        <select [(ngModel)]="selectedVacation" class="form-control" formControlName="packageName" id="packageName">
            <option *ngIf="packageNameReservationFilled" value="{{packageNameReservation}}" selected>{{packageNameReservation}}</option>
            <option value="belgium">male</option>
            <option value="belgium">belgium</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="departs" class="form-label">Depart Date</label>
        <input type="date" class="form-control" formControlName="departs" id="departs">
        <p class="form-text" *ngIf="datesInvalid">Invalid Date</p>
    </div>
    <div class="mb-3">
        <label for="returns" class="form-label">Return Date</label>
        <input type="date" class="form-control" formControlName="returns" id="returns">
        <p class="form-text" *ngIf="datesInvalid">Invalid Date</p>
    </div>
    <div class="mb-3">
        <label for="nmbrTravelers" class="form-label">Number of Travellers</label>
        <input type="number" class="form-control" formControlName="nmbrTravelers" id="nmbrTravelers">
    </div>

  <button type="submit" class="btn btn-success">Reserve Trip</button>
</form>
