<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <style>

  </style>
</head>

<!-- Navbar -->
<div id="app" class="mb-5">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">
      <img src="/assets/images/TripUpLogo.png" alt="TripUp! logo" class="tripUpLogo" >
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="admin" class="nav-link" routerLink="admin">Admin</a>
      </li>
      <li class="nav-item" *ngIf="showAgentBoard">
        <a href="agent" class="nav-link" routerLink="agent">Agent</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a href="user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>-->
<!--      </li>-->
      <li class="nav-item">
        <a href="agent" class="nav-link" routerLink="/vacations">Vacations</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="profile" class="nav-link" routerLink="profile">Hello,&ensp;<b>{{ username }}</b></a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
</div>

  <div class="container">
    <router-outlet></router-outlet>
  </div>



<!-- Footer -->

<footer class="text-center text-lg-start bg-light text-muted ">

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3 d-flex justify-content-evenly">
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mb-4">
          <h6 class="text-uppercase fw-bold my-4">
            Vacation Packages
          </h6>
          <p>
            <a href="http://localhost:4200/vacations" class="text-reset">See All</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold my-4">
            Useful links
          </h6>
          <p>
            <a href="http://localhost:4200/profile" class="text-reset">Orders</a>
          </p>
          <p>
            <a class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold my-4">
            Contact Us
          </h6>
          <p><i class="fas fa-home me-3"></i> Arlon, B6700 Belgium</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            tripupservices@gmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->

        <!-- Copyright -->
        <div class="text-center p-4">
          © 2021 Copyright:
          <a class="text-reset fw-bold">JustinCodes</a>
        </div>

      </div>
      <!-- Grid row -->
    </div>
  </section>

</footer>

</html>
