<div class="container">

  <div>
    <img src="assets/images/plane takeoff.jpg" class="planeImg rounded-2" alt="family">
  </div>

  <div class="card m-auto vacImgCard text-center">
    <h2 class="vacPageTitle card-header bg-transparent border-white">Find your next vacation here <br>or <em><strong>TripUp</strong></em>
      and make one of your own!</h2>
  </div>

  <div>

    <div class="card m-5 " style="max-width: 700px; border: solid thin" *ngFor="let vacation of vacationList">
      <div class="card-header text-center font-monospace py-3 fs-4" style="background-color: #a9e7c4">
        <strong>{{vacation.packageName}}</strong>
      </div>
      <div class="g-0">
        <div class="w-100 h-100">
          <img src="{{vacation.picture_address}}" class="img-fluid vacImg" [alt]="vacation.picture_address" style="">
        </div>
        <div class="">
          <div class="p-auto px-1 text-center">
            <h5 class="card-text text-center pb-4" [innerHTML]="vacation.description"></h5>
            <a (click)="makeReservation(vacation.packageName)" routerLink="/secured-http" class="btn btn-primary" *ngIf="isLoggedIn">Make a reservation</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
