<div class="card w-100">
  <h2 class="card-header">Find your next vacation here or <em><strong>TripUp</strong></em>
    and make one of your own!</h2>
  <img src="assets/images/laughing-family.jpg" class="img-fluid rounded-2" alt="family">
</div>

<div title= "Pre-made trip packages" >

  <div class="card mb-3" style="max-width: 540px; border: solid thin" *ngFor="let vacation of vacationList">
    <div class="card-header text-center" style="background-color: #a9e7c4">
      <strong>{{vacation.packageName}}</strong>
    </div>
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]=vacation.picture_address class="img-fluid" [alt]=vacation.picture_address style="">
      </div>
      <div class="col-md-8">
        <div class="card-body text-center">
          <h5 class="card-title">{{vacation.description}}</h5>
<!--          <ul class="list-group list-group-flush">-->
<!--            <li class="list-group-item">A beautiful and relaxing island paradise</li>-->
<!--            <li class="list-group-item">Stay in an amazing ocean suite situated just above the water </li>-->
<!--            <li class="list-group-item">Go on a snorkeling adventure and see the local sea-life</li>-->
<!--          </ul>-->
          <a (click)="makeReservation(vacation.packageName)" routerLink="/secured-http" class="btn btn-primary">Make a reservation</a>
        </div>
      </div>
    </div>
  </div>

</div>

