<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3 class="currentUser">
      <strong>{{ currentUser.username + "'s" }}</strong> Profile
    </h3>
  </header>

  <div class="mb-3">
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
    </thead>
    <tbody>
    <tr scope="col" *ngFor="let el of myReservations">
      <th scope="row">{{el.id}}</th>
      <td>{{el.departs}}</td>
      <td>{{el.returns}}</td>
      <td>{{el.nmbrTravelers}}</td>
      <td>{{el.vacation.packageName}}</td>
      <td>{{el.vacation.price}}</td>
      <td>{{el.price}}</td>


    </tr>
    </tbody>
  </table>

</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
