<div class="nav-container">
  <header >
    <p>{{ content }}</p>
  </header>
</div>


<div class="container">

  <div class="col-xl-3">
      <div class="card-title text-center border-white">
        <h4 class="carouselTitle">Stumble upon your next trip today!</h4>
      </div>
  </div>

  <div class="col-xl-7">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner d-flex">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="assets/images/Belgium-horses.jpg" class="d-block w-100 h-100" alt="horses">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="assets/images/brussels-belgium-resto.jpg" class="d-block w-100 h-100" alt="resto">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="assets/images/bali-indonesia.jpeg" class="d-block w-100 h-100" alt="maldives">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="carouselFooter text-center">
    <small class="card-text text-muted text-center">Choose from our list of amazing and affordable pre-planned trips, or make your own and request a quote!</small>
  </div>

</div>
