.nav-container {
  margin-bottom: 60px;
}

.carousel-item {
  height: 400px;
  width: 650px;
}

.lp-container {

  display: flex;
  align-items: center;
  gap: 5px;
}

.carouselTitle {
  font-size:35px;
  padding-bottom: 10px;
}

.carouselFooter {
  padding-top: 20px;
}
